.card-text {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
}

.seats {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: right;
}

.btn.btn-primary {
    margin: 10px;
}
